@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin-left: 0px;
    background-color: #1F2937;
    width: 550px;
    height: 550px;
    padding: 105px 52px;
    font-weight: bolder;
}
#h1 {
    font-family: "Karla", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    line-height: 40px;
    color: white;
    margin-bottom: 5px;
}
#h2 {
    margin-top: 5px;
    font-family: "Karla", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    line-height: 40px;
    color: #10B981;
}
p {
    font-family: cursive, sans-serif;
    color: #D5D4D8;
    font-size: 20px;
    font-weight: lighter;
    line-height: 28px;
}
#mainbutton {
    background-color: #10B981;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 9px 15px 17px;
    width: 191px;
    height: 42px;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    margin: 50px 0 30px;
}
hr {
    width: 446px;
    border: 0.1 solid #D5D4D8;
    margin: 20px 0px 40px;
    background-blend-mode: passthrough;
}
#buttoncontainer {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#passbutton, #passbutton2 {
    color: #10B981;
    font-size: 16px;
    background-color: #273549;
    width: 211px;
    height: 39px;
    border: none;
    border-radius: 6px;
}